<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid text-center">
        
      <div style="color: white;" class="hover mt-2">
        
        <i class="fas fa-play-circle" style="color: white; font-size: 40px;"
        routerLink="home"
        ></i>
        </div>
        <div style="color: white;" class="hover mt-2">
         <i class="fas fa-search" style="color: white; font-size: 40px;"
        routerLink="search"
        ></i>
      </div>
           
    
  </div>
</nav>


