<h1>YouTube videos</h1>
<hr>

<div class="container animated fadeIn " >

    <app-card [items]="videos"></app-card>

</div>

<div class="text-center mt-4 mb-4" >

    <div class="alert alert-light" role="alert"
    
    *ngIf="videos.length === 0"
    >
        No hay videos disponibles en este momento
    </div>

    <button style="width: 200px;" 
    class="btn btn-outline-light"
    *ngIf="videos.length > 0"
    (click)="cargarVideos()"
    >
        Ver mas
        <i style="margin-left: 6px;" class="fa fa-plus"></i>
    </button>
</div>
